* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #191919;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

h1 {
    display: block;
    font-size: 4em;
    margin-top: 0.67em;
    font-weight: 500;
    font-family: "Spectral", serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-weight: bold;
}

p {
    display: block;
    font-size: 0.85rem;
    opacity: 0.8;
}

header {
    background-color: #ffc017;
    border-bottom: 1px solid #2d2d2d;
}

header p {
    opacity: 1;
    font-size: 0.92rem;
    padding-bottom: 2.5rem;
}

nav {
    background-color: #ffc017;
    border-bottom: 1px solid #2d2d2d;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav div {
    display: flex;
    justify-content: space-between;
}

hr {
    color: #888888;
}

.container {
    width: 1050px;
    padding: 1rem;
    margin: auto;
}

.trending {
    margin-bottom: 0.8rem;
}

.trending img {
    vertical-align: bottom;
    margin-right: 0.8rem;
}

.d-flex {
    display: flex;
}

.nav-elements {
    display: flex;
    align-items: center;
}

.nav-elements span {
    margin-inline: 0.5rem;
}

.nav-elements a {
    text-decoration: none;
    color: #191919;
}

button {
    background-color: #191919;
    border-radius: 20px;
    border: none;
    padding: 0.6rem 0.7rem;
}

.nav-elements button a,
button a {
    color: white;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.header-container p {
    max-width: 300px;
}

.btn {
    padding: 0.4rem 2rem;
}

.left-section {
    width: 55%;
}

.right-section {
    width: 45%;
}

.trending-menu {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    gap: 1rem;
    width: 33%;
    margin-bottom: 1rem;
}

.num h2 {
    opacity: 0.2;
    margin: 0;
}

.card-img-container {
    display: flex;
    align-items: center;
}

.card * img {
    border-radius: 10%;
    width: 20px;
    height: 20px;
}

.card-img-container img {
    margin-right: 0.5rem;
}

.date {
    color: rgb(153, 150, 150);
    position: relative;
}

.bookmark {
    position: absolute;
    right: 16px;
    bottom: 0;
}

.big-card-container {
    margin-bottom: 1rem;
}

.big-card {
    width: 67%;
    padding-right: 0.5rem;
}

.big-img {
    width: 33%;
}

.big-img img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.big-card * img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.category {
    display: inline-block;
    background-color: #d7d7d7;
    color: #787878;
    border-radius: 10px;
    padding: 0.2rem 0.3rem;
}

.footer {
    padding-left: 3rem;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.footer-btn {
    border: 1px solid #b3b0b0;
    color: #888888;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.footer-menu-bottom {
    margin-top: 2rem;
}

.footer-menu-bottom span {
    display: inline-block;
    margin-bottom: 1rem;
}

.footer-menu-bottom * a {
    text-decoration: none;
    margin-right: 1rem;
    color: #888888;
}

.m-y {
    margin-top: 2rem;
}
